/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}

/*****************************************************Custom code*********************************************************/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  height:100px;
  padding: 25px 0;
  transition: all 0.3s ease;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
}
.navbar.sticky{
  padding: 10px 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar .logo a{
  color: #FF00EC;
  text-decoration: none;
 font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 7vh;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  display: inline-flex;
}
.menu-list li a{
    color: #fff;
  
  font-size: 28px;
  font-weight: bold;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  height: 100px;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
@media (max-width: 1000px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
} 





/* #retourMenu{


        display: flex;
    justify-content:flex-start;
    
    width: 100%;
padding-top: 10px;
padding-left: 10px;
font-size: 20px;
font-weight: bold;

}
#menuNouv{
    border: solid black 2px;
}
 */

h1{

    color: #FF00EC;
    text-decoration: none;
   font-family: 'Dancing Script', cursive;
      font-weight: bold;
      font-size: 7vh;
}
 li{
     padding-left: 30px;
 }

#presentationNouveau{	
	align-items: center;
	display: flex;
	flex-direction: column;
    justify-content: center;
	margin-bottom: 30px;
    margin-top: 100px;
    width: 100%;
}

a{
    text-decoration: none;
}
.titreNouveau{
    
    font-family: 'Dancing Script', cursive;
     color: #FF00EC;
     font-weight: bold;
     font-size: 7vh;
 }
 .cadreNouveau{
 
    margin-top:5vh;
 
    font-family: 'Alice', serif;
   font-size: 5vh;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   text-align: justify;
   text-align: center;
 
}
p{
    font-size: 4vh;
}

h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: rgb(18,184,255);

}

.card {
    border-radius: 5px;
  
    min-width: 450px;
    max-width: 30%;
    box-shadow: 0 5px 50px rgba(0,0,0,0.3);
    height: 600px;
    overflow: hidden;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#corps {
    display: flex;
    align-items: center;
   flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    width: auto;
}


.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
    
}

.card > figure > img {
    width: 100%;
    height:550px ;
}

@media screen and (max-width: 1280px){
p{
    font-size: 4vh;
}
}
@media screen and (max-width: 600px){
p{
    font-size: 3vh;
}
#retourMenu{
  
font-size: 18px;

}

#imgRetour{

    width: 6%;
    height: 30%;
}


}


@media screen and (min-width: 374px)and (max-width: 472px){
    
.card {
    min-width: 350px;
}

h1{
    
     font-size: 5vh;
 }

 h3{
    
    font-size: 15px;
}



.details {
    
    padding-top: 50px;
    
}



}

@media screen and (max-width: 374px){
    
    h1{
    
        font-size: 5vh;
    }

   
    .card {
        
        height: 500px;
       
    min-width: 250px;
            
        
        
    }
    




    h2{
    
        font-size: 12px;
    }
    
    h3{
    
        font-size: 10px;
    }
    .card > figure {
        width: 90%;
     
        margin: center;
    }
    p{
    
        font-size: 2vh;
    }
    
    }

    @media screen and (max-width: 249px){
    
        h1{
        
            font-size: 4vh;
            padding-top: 30px;
        }

        .card {
       
      
            min-width: 240px;
            max-height: 200px;
            
            
        }
        
        
    
    p{
        font-size:15px;
    }
        h2{
        
            font-size: 11px;
            font-weight: bold;
        }
        
        h3{
        
            font-size: 10px;
        }
        .card > figure > img {
            width: 100%;
            height:200px ;
        }
        .card > figure {
            width: 100%;
            margin: 0;
            
        }
       
        .card:hover .details {
            box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
            top: 0%;
        }
        
        .details {
            
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #retourMenu{
  
            font-size: 12px;
            
            }
    }

    @media screen and (max-width: 249px){

        .card {
       
      
            min-width: 180px;
            max-height: 200px;
            
            
        }
    }

    @media screen and (max-width: 191px){

        .card {
       
      
            min-width: 160px;
            max-height: 200px;
            
            
        }
    }